.highlightBlue {
  background: #15d7fa;
  background: linear-gradient(to bottom right, #15d7fa 30%, #6ef0dd 87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.highlightOrange {
  font-weight: bold;
  /* background: #15d7fa; */
  background: linear-gradient(
    to bottom right,
    rgba(255, 81, 47, 1) 30%,
    rgba(240, 152, 25, 1) 87%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.highlightYellow {
  font-weight: bold;
  /* background: #15d7fa; */
  background: linear-gradient(
    to bottom right,
    rgb(230, 150, 0) 30%,
    rgba(249, 212, 35, 1) 87%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.highlightRed {
  font-weight: bold;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 4%,
    rgba(252, 176, 69, 1) 23%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
